@import "./variables";
@import "./fonts";
@import "./components/all";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  color: $text-color;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(100 100 100 / 17%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
}

ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

a {
  text-decoration: none;
  color: $text-color;
}

h2 {
  margin: 0;
  padding: 60px 0;

  font-size: 28px;
  font-weight: 600;
  text-align: center;

  @media (max-width: 878px) {
    padding-bottom: 30px;

    font-size: 24px;
  }

  @media (max-width: 650px) {
    padding-bottom: 30px;
  }

  @media (max-width: 480px) {
    font-size: 22px;
  }

  @media (max-width: 279px) {
    font-size: 20px;
  }
}

input {
  font-family: inherit;
}

input[type="text"],
input[type="submit"],
textarea {
  appearance: none;
}

button {
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  border: none;
  background: none;
}

p {
  margin: 0;
}

label {
  display: block;
}

.container {
  width: $container-width;
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: 2048px) {
    max-width: 1640px;
  }

  @media (max-width: 878px) {
    width: 92%;
  }

  @media (max-width: 480px) {
    width: 98%;
  }

  @media (max-width: 374px) {
    width: 100%;
  }
}

.logo {
  cursor: pointer;

  @media (max-width: 580px) {
    justify-content: center;
  }

  @media (max-width: 460px) {
    margin-right: 0;
  }

  @media (max-width: 279px) {
    grid-area: logo;
  }

  & p {
    &:first-child {
      font-size: 20px;
      font-weight: 600;

      @media (max-width: 768px) {
        font-size: 18px;
      }

      @media (max-width: 480px) {
        font-size: 16px;
      }
    }

    &:last-child {
      font-size: 12px;

      @media (max-width: 768px) {
        font-size: 10px;
      }

      @media (max-width: 480px) {
        font-size: 8px;
      }
    }
  }
}

.contact-phone {
  text-decoration: none;
  font-size: 19px;
  font-weight: 500;
}

.button-primary {
  padding: 1.1rem 1.8rem;
  border: 1px solid $primary;
  border-radius: $radius;

  color: white;
  background-color: $primary;

  transition-duration: 0.1s;

  position: relative;
  overflow-x: hidden;
  cursor: pointer;

  @media (max-width: 280px) {
    padding: 1.1rem 0;
    font-size: 13px;
  }
}

.button-primary:hover {
  background: $primary;
  border: 1px solid $primary;
}

.button-primary .flare {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50px;
  transform: skewX(334deg);
  animation: flare 3s infinite linear;
  background: linear-gradient(
    90deg,
    rgb(255 255 255 / 0%) 0%,
    rgb(255 255 255 / 30%) 50%,
    rgb(255 255 255 / 0%) 100%
  );
}

@keyframes flare {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}

.button-primary {
  &.button-primary--mini {
    font-size: 14px;
    border-radius: $radius;
    border: 1px solid $primary;
    outline: none;
    background-color: $primary;
    padding: 0.8rem 1rem;
    justify-content: center;
    transition-duration: 0.1s;
    cursor: pointer;
  }
}

.button-secondary {
  border: 1px solid #ff8d00;
  color: #ff8d00;
  font-weight: 600;
  background: none;
  width: 100%;
  height: 3rem;
  line-height: 1;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

.hidden {
  transform: translateX(-10%);

  opacity: 0;

  transition: all 1.3s;
}

.show {
  transform: translateX(0);

  opacity: 1;
}

.notification {
  min-height: 48px;
  padding: 10px 32px 10px 18px;
  border-radius: 6px;
  border: 1px solid #fc8181;

  position: relative;

  display: none;

  color: #b53d37;

  @media (max-width: 411px) {
    padding-right: 40px;

    font-size: 11px;
  }

  @media (max-width: 274px) {
    padding: 8px 30px 8px 8px;
    font-size: 10px;
  }

  &.active {
    display: flex;
    align-items: center;
  }

  &--phone-consultation {
    margin-bottom: 10px;

    grid-area: phoneNotification;
  }

  &--checkbox-consultation {
    margin-top: 10px;

    grid-area: checkboxNotification;
  }

  &--name-popup {
    margin-bottom: 10px;
  }

  &--phone-popup {
    margin-bottom: 10px;
  }

  &--checkbox-popup {
    margin-top: 10px;
  }

  &__alert {
    &-close {
      width: 30px;
      height: 30px;
      right: -5px;
      top: 50%;
      transform: translate(-50%, -50%);

      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;

      position: absolute;

      &-bar {
        width: 30px;
        height: 2px;
        border-radius: 3px;
        background-color: #f56565;

        &:first-child {
          transform: translate(8px, 0px) rotate(45deg);
        }

        &:last-child {
          transform: translate(-7px, 0px) rotate(135deg);
        }
      }
    }
  }
}
