.title__msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 375px) {
  .title__msg {
    display: grid;
    grid-gap: 0;
    padding: 3rem 2rem;
  }
}

.open-popup {
  display: flex;
}

.popup-bg {
  z-index: 1111;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.popup-bg.active {
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.popup {
  z-index: 1111;
  justify-content: center;
  position: fixed;
  background: #fff;
  border-radius: 4px;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s cubic-bezier(0.16, 0.01, 0.46, 0.98);
  -webkit-transition: 0.5s cubic-bezier(0.16, 0.01, 0.46, 0.98);
}

.popup.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.3s cubic-bezier(0, 0.94, 0.9, 1);
  -webkit-transition: 0.3s cubic-bezier(0, 0.94, 0.9, 1);
}

.close-popup {
  position: absolute;
  padding: 0.5rem;
  top: 0;
  right: 0;
  cursor: pointer;
}

.close-popup:hover .bar {
  background-color: #646464;
}

.popup .close-popup .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
  -webkit-transform: translateY(7px) rotate(45deg);
  width: 22px;
}

.popup .close-popup:hover .bar:nth-child(1) {
  transform: translateY(7px) rotate(135deg);
}

.popup .close-popup .bar:nth-child(2) {
  transform: translateY(0px) rotate(-45deg);
  -webkit-transform: translateY(0px) rotate(-45deg);
  width: 22px;
}

.popup .close-popup:hover .bar:nth-child(2) {
  transform: translateY(0px) rotate(45deg);
}

@media (max-width: 375px) {
  .popup .close-popup .bar:nth-child(2) {
    width: 25px;
  }
}

.right-block-form {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 360px;
  padding: 2rem 30px 2rem;
}

@media (max-width: 375px) {
  .right-block-form {
    width: 250px;
    height: 400px;
    padding: 2rem 2.5rem 2rem;
  }
}

.right-block-form__title {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.title-form {
  text-align: center;
  font-size: 0.9rem;
  margin: 8px 0 18px;
}

@media (max-width: 375px) {
  .title-form {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: -7rem;
  }
}

.popup form {
  display: grid;
  width: 260px;
}

.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 1.5s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
