@import "./components/header";
@import "./components/hero";
@import "./components/about";
@import "./components/services";
@import "./components/slider";
@import "./components/faq";
@import "./components/consultation";
@import "./components/footer";
@import "./components/popup";
@import "./components/thanks";
