.consultation {
  position: relative;
  padding-bottom: 100px;

  @media (max-width: 991px) {
    padding-bottom: 70px;
  }

  @media (max-width: 575px) {
    padding-bottom: 46px;
  }

  &__item {
    position: relative;
    margin: 0 auto;
    max-width: 680px;
    padding: 40px 40px 46px;
    border-radius: 80px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(240, 248, 255, 1) 100%
    );

    @media (max-width: 640px) {
      border-radius: 30px;
    }

    @media (max-width: 575px) {
      background: none;
      background-color: #f0f8ff;
    }

    & .text-title {
      padding: 0 0 16px;
    }

    & .contact-form {
      width: 420px;
      margin-left: auto;
      margin-right: auto;
      display: grid;
      grid-template-areas:
        "phone image"
        "phoneNotification image"
        "button image"
        "footer footer"
        "checkboxNotification checkboxNotification";
      grid-template-rows: 62px auto 66px auto auto;
      grid-template-columns: 1fr 1fr;
      justify-items: center;

      @media (max-width: 740px) {
        max-width: 240px;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas:
          "phone"
          "phoneNotification"
          "button"
          "footer"
          "checkboxNotification";
      }

      &__input {
        align-self: flex-end;
        grid-area: phone;

        @media (max-width: 740px) {
          align-self: flex-start;
        }
      }

      &__notification {
        &--phone-popup {
          margin-top: 8px;
          margin-bottom: 10px;
          grid-area: phoneNotification;

          @media (max-width: 740px) {
            margin-top: -6px;
          }
        }

        &--checkbox-popup {
          grid-area: checkboxNotification;
        }
      }

      & .button-primary {
        grid-area: button;
      }

      & img {
        grid-area: image;

        @media (max-width: 740px) {
          display: none;
        }
      }

      &__footer {
        grid-area: footer;
      }
    }
  }

  &__description {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.8;
    text-align: center;
    color: #6f6f6f;

    @media (max-width: 991px) {
      font-size: 16px;
    }
  }
}
