.product-section {
  padding-bottom: 80px;

  @media (max-width: 878px) {
    padding-bottom: 70px;
  }

  position: relative;
  background-color: white;

  & .text-title {
    padding: 50px 0 80px;

    @media (max-width: 878px) {
      padding-top: 20px;
      padding-bottom: 30px;
    }
  }
}

.slider-wrapper {
  position: relative;
}

.slider-btn {
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50px;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: none;
  background-color: white;
  box-shadow: 0 1px 20px rgba(4, 6, 28, 0.1);
  transition: background-color 0.3s ease;
  user-select: none;
  cursor: pointer;

  position: absolute;

  &:disabled {
    display: none;
  }

  &:nth-child(1) {
    left: 10px;
  }

  &:nth-child(2) {
    right: 10px;
  }
}

.slider-btn-bar {
  height: 2px;
  width: 7px;
  border-radius: 1px;
  background-color: $primary;
}

.slider-btn-prev .slider-btn-bar:first-child {
  transform: translate(17px, -1px) rotate(-45deg);
}

.slider-btn-prev .slider-btn-bar:last-child {
  transform: translate(17px, 1px) rotate(45deg);
}

.slider-btn-next .slider-btn-bar:first-child {
  transform: translate(19px, -1px) rotate(45deg);
}

.slider-btn-next .slider-btn-bar:last-child {
  transform: translate(19px, 1px) rotate(-45deg);
}

.slider-container {
  max-height: 440px;
  height: 100%;

  display: inline-flex;
  align-items: center;
  transform: translateX(0);
  will-change: transform;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  cursor: grab;

  @media (max-width: 560px) {
    max-height: 410px;
  }
}

.slide {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card-item {
  width: 80%;

  display: grid;
  grid-template-rows: 150px auto 114px auto auto;
  align-items: center;
  justify-items: center;

  user-select: none;

  @media (max-width: 1260px) {
    width: 84%;
  }

  @media (max-width: 1000px) {
    grid-template-rows: 150px auto 90px auto auto;
  }

  @media (max-width: 700px) {
    grid-template-rows: auto;
  }

  &__img {
    height: 150px;

    pointer-events: none;
  }

  &__rating {
    width: 80px;
    margin-top: 20px;
    margin-bottom: 14px;

    display: inline-flex;
    justify-content: space-between;

    background-color: white;

    position: relative;

    & svg {
      fill: #fdc536;
      width: 14px;
      height: 14px;
    }

    &-overlay {
      background-color: black;
      mix-blend-mode: color;
      opacity: 0.7;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;

      @supports (mix-blend-mode: color) {
        mix-blend-mode: color;
        opacity: unset;
      }
    }
  }

  &__title {
    margin-top: 0;
    font-size: 17px;
    line-height: 1.4;
    font-weight: 400;
    text-align: center;

    align-self: flex-start;

    @media (max-width: 1130px) {
      margin-bottom: 20px;

      font-size: 16px;
    }

    @media (max-width: 560px) {
      align-self: center;
    }

    @media (max-width: 279px) {
      margin-bottom: 14px;

      font-size: 15px;
    }

    @media (max-width: 259px) {
      font-size: 14px;
    }
  }

  &__price {
    margin-bottom: 20px;

    font-size: 22px;
    font-weight: 500;
  }

  & .button-primary {
    width: 80%;
  }
}

.pagination-btns {
  padding-top: 60px;
  max-width: 260px;
  margin: auto;
  display: flex;
  justify-content: space-between;

  @media (max-width: 878px) {
    padding-top: 40px;
    max-width: 200px;
  }
}

.pagination-btn {
  width: 27px;
  height: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pagination-btn-span {
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #d8d8d8;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;

  @media (max-width: 878px) {
    height: 4px;
    width: 4px;
    border-radius: 50%;
  }
}

.pagination-btn-span--active {
  background-color: $primary;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  height: 4px;

  @media (max-width: 878px) {
    height: 8px;
    width: 8px;
  }
}

.grabbing {
  cursor: grabbing;
  transition: none;
}
