.thanks {
  padding: 50px;
  max-width: 400px;
  width: 100%;
  border-radius: 20px;
  left: 50%;
  top: 49%;
  transform: translate(-50%, -50%);
  z-index: 1111;
  box-shadow: 0 4px 8px rgb(0 0 0 / 14%);

  position: fixed;

  visibility: hidden;
  opacity: 0;
  filter: blur(2px);

  transition: $transition;

  background-color: #fff;

  @media (max-width: 480px) {
    width: 91%;
  }

  @media (max-width: 360px) {
    padding: 30px;
  }

  &.active {
    top: 50%;

    visibility: visible;
    opacity: 1;
    filter: none;

    transition: $transition;
  }

  &__close {
    width: 50px;
    height: 50px;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;

    @media (max-width: 440px) {
      width: 40px;
      height: 40px;
    }

    &-bar {
      width: 30px;
      height: 3px;
      border-radius: 3px;

      background-color: $primary;

      &:first-child {
        transform: translate(10px, 6px) rotate(45deg);

        @media (max-width: 440px) {
          transform: translate(8px, 8px) rotate(45deg);
        }
      }

      &:last-child {
        transform: translate(-15px, 6px) rotate(135deg);

        @media (max-width: 440px) {
          transform: translate(-12px, 8px) rotate(135deg);
        }
      }
    }
  }

  &__text {
    margin-bottom: 18px;

    font-size: 18px;
    font-weight: 500;
    line-height: 1.7;

    @media (max-width: 360px) {
      font-size: 16px;
    }
  }

  & .button-primary {
    width: 100%;
  }
}
