<section id="about" class="about hidden">
  <div class="container">
    <div class="about__content">
      <div class="about__img-container">
        <picture>
          <source type="image/webp" srcset="assets/images/about.webp" />
          <img
            class="about__img"
            src="assets/images/about.jpg"
            alt="мастер установки кондиционеров Сочи"
          />
        </picture>
      </div>
      <h2 class="about__title">Давайте знакомиться</h2>
      <p class="about__paragraph1">
        Мы — команда монтажников-профессионалов. Занимаемся продажей,
        установкой, заправкой, чисткой кондиционеров в г. Сочи и Сочинском
        районе уже более 17 лет.
      </p>
      <p class="about__paragraph2">
        Нас часто рекомендуют своим друзьям и знакомым, ведь наш опыт позволяет
        браться за работу практически любого уровня сложности.
      </p>
      <p class="about__paragraph3">
        Позвоните нам по телефону или напишите в WhatsApp, мы с радостью ответим
        и поможем в вопросе, связанном с климатической техникой.
      </p>
      <div class="about__contacts-group">
        <button value="Обратиться к нам" class="button-primary open-popup">
          Обратиться к нам
        </button>
        <a
          href="https://wa.me/79881482838?text=Здравствуйте.%20Мне%20нужна%20консультация"
          target="_blank"
          class="about__contacts"
        >
          <img
            width="40"
            height="40"
            class="about__contacts-svg"
            src="assets/images/icons/whatsapp.svg"
            alt="whatsapp Кондик"
          />
          <span class="contact-phone">8 (988) 148-28-38</span>
        </a>
      </div>
    </div>
  </div>
</section>
