<section class="consultation">
  <div class="container">
    <div class="consultation__item hidden">
      <h2 class="consultation__item-title">
        Не нашли то, что искали? Оставьте свой номер телефона, и мы свяжемся с
        вами
      </h2>
      <form class="contact-form contact-form--consultation">
        <div class="consultation__item-left">
          <p class="contact-form__message2"></p>
          <div class="input-data">
            <input
              name="consultPhone"
              type="tel"
              class="contact-form__input contact-form__input--phone"
              placeholder="+7 (___) ___ __ __"
            />
          </div>
          <div class="notification notification--phone-consultation">
            <p>
              Заполните
              <b> номер телефона</b>
              полностью.
            </p>
            <div class="notification__alert-close">
              <div class="notification__alert-close-bar"></div>
              <div class="notification__alert-close-bar"></div>
            </div>
          </div>
          <button type="submit" class="button-primary">Отправить</button>
        </div>
        <div class="consultation__item-right">
          <img
            src="assets/images/consultation-illustration.svg"
            alt="связаться с компанией Condi-K"
          />
        </div>
        <div class="contact-form__personal-group">
          <div class="contact-form__item-check">
            <input
              name="consultCheckbox"
              type="checkbox"
              checked
              class="contact-form__checkbox"
            />
          </div>
          <div class="politics politics__text-center">
            Я даю свое согласие с
            <a href="#" class="contact-form__privacy-policy"
              >политикой конфиденциальности</a
            >,
            <a href="#" class="contact-form__user-agreement"
              >пользовательским соглашением</a
            >
            и даю разрешение на обработку персональных данных.
          </div>
        </div>
        <div class="notification notification--checkbox-consultation">
          <p>
            Поле согласия с
            <b> политикой конфиденциальности</b>
            обязательное.
          </p>
          <div class="notification__alert-close">
            <div class="notification__alert-close-bar"></div>
            <div class="notification__alert-close-bar"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
