<section class="consultation">
  <div class="container">
    <div class="consultation__item hidden">
      <h2 class="text-title">Не нашли нужную сплит-систему?</h2>
      <p class="consultation__description">
        Оставьте свой номер телефона, и мы свяжемся с вами для консультации
      </p>
      <form class="contact-form">
        <input
          name="phone"
          type="tel"
          class="contact-form__input contact-form__input--phone"
          placeholder="+7 (123) 456 78 90"
        />
        <div
          class="contact-form__notification contact-form__notification--phone-popup"
        >
          <p>
            Заполните
            <b> номер телефона</b>
            полностью.
          </p>
          <div class="contact-form__notification-close">
            <div class="contact-form__notification-close-bar"></div>
            <div class="contact-form__notification-close-bar"></div>
          </div>
        </div>
        <button value="Не нашли нужную сплит-систему" class="button-primary">
          <span>Отправить</span>
          <div class="loader"></div>
        </button>
        <img
          width="160"
          height="140"
          src="assets/images/consultation-illustration.svg"
          alt="связаться с компанией Кондик"
          loading="lazy"
        />
        <div class="contact-form__footer">
          <input
            name="checkbox"
            type="checkbox"
            checked
            aria-label="Сonsent to privacy policy"
            class="contact-form__checkbox"
          />
          <div class="contact-form__politics">
            Я даю свое согласие с
            <a href="policy.html">политикой конфиденциальности</a>,
            <a href="#">пользовательским соглашением</a>
            и даю разрешение на обработку персональных данных.
          </div>
        </div>
        <div
          class="contact-form__notification contact-form__notification--checkbox-popup"
        >
          <p>
            Поле согласия с
            <b> политикой конфиденциальности</b>
            обязательное.
          </p>
          <div class="contact-form__notification-close">
            <div class="contact-form__notification-close-bar"></div>
            <div class="contact-form__notification-close-bar"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
