<section class="faq">
  <div class="container">
    <h2 class="text-title">У нас часто спрашивают</h2>
    <div class="faq__accordion hidden">
      <ul class="accordion__items">
        <li class="accordion__item">
          <div class="accordion__title">
            <p>Как быстро мне установят кондиционер?</p>
            <div class="accordion__btn">
              <span class="accordion__btn-bar"></span>
              <span class="accordion__btn-bar"></span>
            </div>
          </div>
          <div class="accordion__content">
            <p>Стандартная установка сплит-системы занимает 1,5 - 2 часа.</p>
          </div>
        </li>
        <li class="accordion__item">
          <div class="accordion__title">
            <p>У вас есть доставка?</p>
            <div class="accordion__btn">
              <span class="accordion__btn-bar"></span>
              <span class="accordion__btn-bar"></span>
            </div>
          </div>
          <div class="accordion__content">
            <p>
              Да. Доставка по центральному району Сочи бесплатная. Стоимость
              доставки в другие районы от 250 рублей в зависимости от
              удаленности.
            </p>
          </div>
        </li>
        <li class="accordion__item">
          <div class="accordion__title">
            <p>У вас квалифицированные специалисты?</p>
            <div class="accordion__btn">
              <span class="accordion__btn-bar"></span>
              <span class="accordion__btn-bar"></span>
            </div>
          </div>
          <div class="accordion__content">
            <p>
              Наши специалисты проходят ежегодную аттестацию, участвуют в
              мероприятиях и выставках по кондиционированию, где получают
              акуальные знания и опыт.
            </p>
          </div>
        </li>
        <li class="accordion__item">
          <div class="accordion__title">
            <p>Вы предоставляете гарантию?</p>
            <div class="accordion__btn">
              <span class="accordion__btn-bar"></span>
              <span class="accordion__btn-bar"></span>
            </div>
          </div>
          <div class="accordion__content">
            <p>
              Гарантия на сплит-систему от производителя - 3 года. Гарантия на
              установку - 1 год.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
