<footer>
  <div class="container">
    <div class="footer-top">
      <a href="/" class="logo">
        <p>Кондик</p>
        <p>продажа и установка<br />кондиционеров в Сочи</p>
      </a>
      <div class="footer-top-item">
        <ul class="social">
          <li class="social-item">
            <a
              class="social-link"
              href="https://t.me/+79881482838"
              target="_blank"
            >
              <img
                width="40"
                height="40"
                src="assets/images/icons/telegram.svg"
                alt="telegram Кондик"
                loading="lazy"
              />
            </a>
          </li>
          <li class="social-item">
            <a
              class="social-link"
              href="https://wa.me/79881482838"
              target="_blank"
            >
              <img
                width="40"
                height="40"
                src="assets/images/icons/whatsapp.svg"
                alt="whatsapp Кондик"
                loading="lazy"
              />
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-info">
        <p>Сочи, Адлер, Красная поляна</p>
        <a class="contact-phone" href="tel:+79881482838">8 (988) 148-28-38</a>
        <button
          value="Обратный звонок"
          class="button-primary button-primary--mini open-popup"
        >
          Обратный звонок
        </button>
      </div>
    </div>
    <div class="footer-center">
      Предоставленные на сайте данные имеют информационный характер и не
      являются публичной офертой.
    </div>
    <div class="footer-bottom">
      <p>Кондик (с) 2024 <br />Все права защищены.</p>
      <a href="policy.html">Политика конфиденциальности</a>
    </div>
  </div>
</footer>
