<footer>
  <div class="container">
    <div class="footer-top">
      <div class="logo">
        <p>Condi-K</p>
        <p>продажа и установка<br />кондиционеров в Сочи</p>
      </div>
      <div class="footer-top-item">
        <ul class="social">
          <li class="social-item">
            <a
              class="social-link"
              href="https://t.me/+79881482838"
              target="_blank"
            >
              <img
                width="30"
                height="30"
                src="assets/images/icons/telegram.svg"
                alt="telegram Condi-K"
              />
            </a>
          </li>
          <li class="social-item">
            <a
              class="social-link"
              href="https://wa.me/79881482838"
              target="_blank"
            >
              <img
                width="30"
                height="30"
                src="assets/images/icons/whatsapp.svg"
                alt="whatsapp Condi-K"
              />
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-info">
        <p>Сочи, Адлер, Красная поляна</p>
        <a class="contact-phone" href="tel:+79881482838">8 (988) 148-28-38</a>
        <button
          class="button-primary button-primary--mini open-popup"
          type="button"
        >
          Обратный звонок
        </button>
      </div>
    </div>
    <div class="footer-center">
      Предоставленные на сайте данные имеют информационный характер и не
      являются публичной офертой.
    </div>
    <div class="footer-bottom">
      <p>Condi-K (с) 2022 <br />Все права защищены.</p>
      <a href="#">Политика конфиденциальности</a>
    </div>
  </div>
</footer>
