<header>
  <div class="container">
    <div class="header-top">
      <a href="/" class="logo">
        <p>Кондик</p>
        <p>продажа и установка<br />кондиционеров в Сочи</p>
      </a>
      <nav class="header__menu">
        <ul>
          <li class="header__menu-item">
            <a class="header__menu-item-link" href="#air-conditioners"
              >Купить кондиционер
            </a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-item-link" href="#services"
              >Заказать услугу
            </a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-item-link" href="#about">О нас </a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-item-link" href="partner.html"
              >Монтажникам
            </a>
          </li>
        </ul>
      </nav>
      <div class="header-info">
        <a
          href="https://wa.me/79881482838?text=Здравствуйте.%20Мне%20нужна%20консультация"
          target="_blank"
          class="header__whatsapp-icon"
        >
          <img
            width="40"
            height="40"
            src="assets/images/icons/whatsapp.svg"
            alt="Whatsapp Кондик"
          />
        </a>
        <a href="tel:+79881482838" class="header__phone-icon">
          <img
            width="33"
            height="33"
            src="assets/images/icons/phone.svg"
            alt="Позвонить в компанию Кондик"
          />
        </a>
        <a class="header__phone-number" href="tel:+79881482838"
          >8 (988) 148-28-38</a
        >
        <button
          class="button-primary button-primary--mini open-popup"
          value="Перезвоните мне"
        >
          Перезвоните мне
        </button>
      </div>
      <div class="header__burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
