<meta charset="UTF-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="robots" content="noodp" />
<meta name="google" content="notranslate" />
<meta name="format-detection" content="telephone=no" />
<meta
  name="description"
  content="Купить кондиционер с доставкой и заказать монтаж. Услуги подключения сплит-систем любой сложности. Установка кондиционера в Сочи от компании Condi-K"
/>
<meta name="keywords" content />
<link rel="icon" href="/favicon.ico" sizes="any" />
<link rel="icon" href="/icon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="manifest" href="/manifest.webmanifest" />
<link rel="stylesheet" href="assets/css/app.min.css" />
<title>{{ title }}</title>
