<header>
  <div class="container">
    <div class="header-top">
      <div class="logo">
        <p>Condi-K</p>
        <p>продажа и установка<br />кондиционеров в Сочи</p>
      </div>
      <nav class="header__menu">
        <ul>
          <li class="header__menu-item">
            <a class="header__menu-item-link" href="#air-conditioners"
              >Купить кондиционер
            </a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-item-link" href="#services"
              >Заказать услугу
            </a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-item-link" href="#about">О нас </a>
          </li>
        </ul>
      </nav>
      <div class="header-info">
        <a
          href="https://wa.me/79881482838?text=Здравствуйте.%20Меня%20интересует%20установка%20кондиционера"
          target="_blank"
          class="header__whatsapp-icon"
        >
          <img
            width="40"
            height="40"
            src="assets/images/icons/whatsapp.svg"
            alt="whatsapp Condi-K"
          />
        </a>
        <a
          href="tel:+79881482838"
          aria-label="Позвонить по номеру телефона 89881482838"
          class="header__phone-icon"
        >
          <svg width="37" height="37">
            <use
              xlink:href="../../assets/images/icons/sprite.svg#header-phone-svg"
            ></use>
          </svg>
        </a>
        <a class="header__phone-number" href="tel:+79881482838"
          >8 (988) 148-28-38</a
        >
        <button
          class="button-primary button-primary--mini open-popup"
          type="button"
        >
          Перезвоните мне
        </button>
      </div>
      <div class="header__burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
