<header>
  <div class="container">
    <div class="header-top">
      <div class="logo">
        <p>Condi-K</p>
        <p>продажа и установка<br />кондиционеров в Сочи</p>
      </div>
      <nav class="header__menu">
        <ul>
          <li class="header__menu-item">
            <a class="header__menu-item-link" href="#air-conditioners"
              >Купить кондиционер
            </a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-item-link" href="#services"
              >Заказать услугу
            </a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-item-link" href="#about">О нас </a>
          </li>
        </ul>
      </nav>
      <div class="header-info">
        <a class="contact-phone" href="tel:+79881482838">8 (988) 148-28-38</a>
        <button
          class="button-primary button-primary--mini open-popup"
          type="button"
        >
          Перезвоните мне
        </button>
      </div>
      <div class="header-info-mobile">
        <a area-label="Позвонить" href="tel:+79881482838">
          <svg>
            <use
              xlink:href="../../assets/images/icons/sprite.svg#header-phone-svg"
            ></use>
          </svg>
        </a>
      </div>
      <div class="header__burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
