<meta charset="UTF-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="robots" content="all" />
<meta name="google" content="notranslate" />
<meta name="format-detection" content="telephone=no" />
<meta
  name="description"
  content="Монтаж сплит-систем от мастеров с 17-летним опытом. Кондиционеры с доставкой и установкой по Сочи и Сочинскому району. Переходите на сайт"
/>
<meta
  property="og:image"
  content="https://установка-кондиционера-сочи.рф/assets/images/about.jpg"
/>
<meta
  property="og:title"
  content="Установка кондиционера в Сочи от компании Condi-K. Гарантия 1 год"
/>
<meta
  property="og:description"
  content="Монтаж сплит-систем от мастеров с 17-летним опытом. Кондиционеры с доставкой и установкой по Сочи и Сочинскому району. Переходите на сайт"
/>
<meta property="og:locale" content="ru_RU" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://установка-кондиционера-сочи.рф/" />
<meta
  name="google-site-verification"
  content="lFYBHwuJ5ArddYHXnxW-OQ5o4TT6IRx0V8cskkpTR1A"
/>
<meta name="yandex-verification" content="5fc6b3150d8dec5c" />
<link rel="icon" href="/favicon.ico" sizes="any" />
<link rel="icon" href="/icon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="manifest" href="/manifest.webmanifest" />
<link
  rel="preload"
  href="/assets/fonts/Rubik/Rubik-Bold.woff"
  as="font"
  type="font/woff"
  crossorigin
/>
<link
  rel="preload"
  href="/assets/fonts/Rubik/Rubik-SemiBold.woff"
  as="font"
  type="font/woff"
  crossorigin
/>
<link
  rel="preload"
  href="/assets/fonts/Rubik/Rubik-Medium.woff"
  as="font"
  type="font/woff"
  crossorigin
/>
<link
  rel="preload"
  href="/assets/fonts/Rubik/Rubik-Regular.woff"
  as="font"
  type="font/woff"
  crossorigin
/>
<link rel="stylesheet" href="assets/css/app.min.css" />
<title>{{ title }}</title>
<!-- Google Tag Manager -->
<script>
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != "dataLayer" ? "&l=" + l : "";
    j.async = true;
    j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, "script", "dataLayer", "GTM-KXMFCZN");
</script>
<!-- End Google Tag Manager -->
