<section class="hero">
  <div class="container">
    <div class="hero__main-content">
      <div class="hero-block">
        <h1 class="title">
          Мы качественно <span>устанавливаем кондиционеры</span> в Сочи, Адлере
          и на Красной поляне
        </h1>
        <p class="hero-p-title">Ваш климат - наша профессия</p>
        <button class="button-primary open-popup open-popup">
          Вызвать мастера
          <span class="flare"></span>
        </button>
      </div>
      <picture>
        <source
          type="image/webp"
          media="(max-width: 767px)"
          srcset="assets/images/hero-image-960.webp"
        />
        <source
          type="image/webp"
          media="(min-width: 768px)"
          srcset="assets/images/hero-image.webp"
        />
        <source
          type="image/jpeg"
          media="(max-width: 767px)"
          srcset="assets/images/hero-image-960.jpg"
        />
        <img
          width="763"
          height="454"
          src="assets/images/hero-image.jpg"
          alt="установка кондиционера Сочи"
          class="hero__image"
        />
      </picture>
    </div>
  </div>
</section>
