<section class="hero">
  <div class="container">
    <div class="hero__main-content">
      <div class="hero-block">
        <h1 class="title">
          Мы качественно <span>устанавливаем кондиционеры</span> в Сочи, Адлере
          и на Красной поляне
        </h1>
        <p class="hero-p-title">Ваш климат - наша профессия</p>
        <button class="button-primary open-popup open-popup">
          Вызвать мастера
          <span class="flare"></span>
        </button>
      </div>
      <picture>
        <source
          type="image/webp"
          media="(max-width: 767px)"
          srcset="assets/images/hero-image-767.webp"
        />
        <source
          type="image/webp"
          media="(min-width: 768px)"
          srcset="assets/images/hero-image.webp"
        />
        <source
          type="image/jpeg"
          media="(max-width: 767px)"
          srcset="assets/images/hero-image-767.jpg"
        />
        <img
          src="assets/images/hero-image.jpg"
          alt="установка кондиционера Сочи"
          class="hero__image"
        />
      </picture>
    </div>
    <ul class="hero__benefits">
      <li>
        <p>115 400+</p>
        <p>Кондиционеров установлено</p>
      </li>
      <li>
        <p>17 лет</p>
        <p>Наш опыт работы</p>
      </li>
      <li>
        <p>20 минут</p>
        <p>Среднее время прибытия</p>
      </li>
    </ul>
  </div>
</section>
