<section id="services" class="services">
  <div class="container">
    <h2>Более 17 лет предоставляем услуги в сфере кондиционирования</h2>
    <div class="services__cards">
      <div class="card hidden">
        <div class="card__inner-img">
          <picture>
            <source
              type="image/webp"
              media="(max-width: 767px)"
              srcset="
                assets/images/services/air-condition-installation-640.webp
              "
            />
            <source
              type="image/webp"
              media="(min-width: 768px)"
              srcset="assets/images/services/air-condition-installation.webp"
            />
            <source
              type="image/jpeg"
              media="(max-width: 767px)"
              srcset="assets/images/services/air-condition-installation-640.jpg"
            />
            <img
              class="card__img"
              src="assets/images/services/air-condition-installation.jpg"
              alt="установка кондиционера"
              width="100%"
            />
          </picture>
        </div>
        <div class="card__text-container">
          <h3 class="card__title">Установка кондиционера</h3>
          <p class="card__price">от 12 000 ₽</p>
          <p class="card__text-item">В стоимость входит:</p>
          <ul class="card__list-items">
            <li>Прокладка фреоновой трассы до 2м</li>
            <li>Вывод дренажного шланга к наружному блоку до 2м</li>
            <li>Прокладка межблочного кабеля до 3м</li>
            <li>
              Пробитие одного отверстия под коммуникации (диаметр не более 45мм)
            </li>
          </ul>
          <button
            class="button-primary open-popup"
            value="Установка кондиционера"
          >
            Заказать установку
          </button>
        </div>
      </div>
      <div class="card hidden">
        <div class="card__inner-img">
          <picture>
            <source
              type="image/webp"
              media="(max-width: 767px)"
              srcset="assets/images/services/air-condition-refilling-640.webp"
            />
            <source
              type="image/webp"
              media="(min-width: 768px)"
              srcset="assets/images/services/air-condition-refilling.webp"
            />
            <source
              type="image/jpeg"
              media="(max-width: 767px)"
              srcset="assets/images/services/air-condition-refilling-640.jpg"
            />
            <img
              class="card__img"
              src="assets/images/services/air-condition-refilling.jpg"
              alt="заправка кондиционера"
              width="100%"
            />
          </picture>
        </div>
        <div class="card__text-container">
          <h3 class="card__title">Заправка кондиционера</h3>
          <p class="card__price">от 3 500 ₽</p>
          <p class="card__text-item">В стоимость входит:</p>
          <ul class="card__list-items">
            <li>Проверка на герметичность давлением</li>
            <li>Поиск и устранение утечки</li>
            <li>Замена вальцовки</li>
            <li>Пайка трубы / 1 точка</li>
            <li>Вакуумация системы</li>
            <li>Дозаправка фреоном R410/R32 до 500гр</li>
          </ul>
          <button
            class="button-primary open-popup"
            value="Заправка кондиционера"
          >
            Заказать заправку
          </button>
        </div>
      </div>
      <div class="card hidden">
        <div class="card__inner-img">
          <picture>
            <source
              type="image/webp"
              media="(max-width: 767px)"
              srcset="assets/images/services/air-condition-repair-640.webp"
            />
            <source
              type="image/webp"
              media="(min-width: 768px)"
              srcset="assets/images/services/air-condition-repair.webp"
            />
            <source
              type="image/jpeg"
              media="(max-width: 767px)"
              srcset="assets/images/services/air-condition-repair-640.jpg"
            />
            <img
              class="card__img"
              src="assets/images/services/air-condition-repair.jpg"
              alt="ремонт
              кондиционера"
              width="100%"
            />
          </picture>
        </div>
        <div class="card__text-container">
          <h3 class="card__title">Ремонт кондиционера</h3>
          <p class="card__price">от 1 500 ₽</p>
          <p class="card__text-item">В стоимость входит:</p>
          <ul class="card__list-items">
            <li>Диагностика и проверка оборудования</li>
            <li>Сравнение температурных параметров</li>
            <li>Проверка герметичности изоляции</li>
            <li>Итоговые ремонтные работы</li>
            <li>Тест работы кондиционера во всех режимах</li>
          </ul>
          <button class="button-primary open-popup" value="Ремонт кондиционера">
            Заказать ремонт
          </button>
        </div>
      </div>
      <div class="card hidden">
        <div class="card__inner-img">
          <picture>
            <source
              type="image/webp"
              media="(max-width: 767px)"
              srcset="assets/images/services/air-condition-cleaning-640.webp"
            />
            <source
              type="image/webp"
              media="(min-width: 768px)"
              srcset="assets/images/services/air-condition-cleaning.webp"
            />
            <source
              type="image/jpeg"
              media="(max-width: 767px)"
              srcset="assets/images/services/air-condition-cleaning-640.jpg"
            />
            <img
              class="card__img"
              src="assets/images/services/air-condition-cleaning.jpg"
              alt="чистка кондиционера"
              width="100%"
            />
          </picture>
        </div>
        <div class="card__text-container">
          <h3 class="card__title">Чистка кондиционера</h3>
          <p class="card__price">от 3 000 ₽</p>
          <p class="card__text-item">В стоимость входит:</p>
          <ul class="card__list-items">
            <li>Очищение фильтров и внешней панели</li>
            <li>Очищение теплообменника</li>
            <li>Очищение вентиляционных лопастей</li>
            <li>Очищение дренажной системы</li>
            <li>Проверка функций режимов кондиционера</li>
          </ul>
          <button class="button-primary open-popup" value="Чистка кондиционера">
            Заказать чистку
          </button>
        </div>
      </div>
    </div>
    <div id="o-nas-scroll" class="o-nas-scroll"></div>
  </div>
</section>
