<section id="air-conditioners" class="product-section">
  <div class="container">
    <h2>Подберем и установим надежную сплит-систему в своем сегменте</h2>
  </div>
  <div class="slider-wrapper container overflow-hidden">
    <button
      aria-labelledby="Previous"
      class="slider-btn slider-btn-prev"
      disabled
    >
      <div class="slider-btn-bar"></div>
      <div class="slider-btn-bar"></div>
    </button>
    <button area-labelledby="Next" class="slider-btn slider-btn-next" disabled>
      <div class="slider-btn-bar"></div>
      <div class="slider-btn-bar"></div>
    </button>
    <div class="slider-container"></div>
  </div>
  <div class="container">
    <div class="pagination-btns"></div>
  </div>
</section>
