<section id="air-conditioners" class="product-section">
  <div class="container">
    <h2 class="text-title">
      Мы сделали подборку среди самых популярных климатических решений
    </h2>
  </div>
  <div class="slider-wrapper container overflow-hidden">
    <button
      aria-label="Пролистнуть слайд назад"
      disabled
      class="slider-btn slider-btn-prev"
    >
      <div class="slider-btn-bar"></div>
      <div class="slider-btn-bar"></div></button
    ><button
      aria-label="Пролистнуть слайд вперед"
      disabled
      class="slider-btn slider-btn-next"
    >
      <div class="slider-btn-bar"></div>
      <div class="slider-btn-bar"></div>
    </button>
    <div class="slider-container">
      <!-- Слайд -->
      <!-- <div class="slide" style="width: 297.75px">
        <div class="card-item">
          <picture>
            <source
              type="image/webp"
              srcset="../../assets/images/slider/tcl-tac-07chsa.webp"
            />
            <img
              width="150"
              height="150"
              src="../../assets/images/slider/tcl-tac-07chsa.jpg"
              alt="Кондиционер настенный (сплит-система) TCL TAC-07CHSA/TPG [вентиляция, обогрев, осушение, охлаждение, до 20 м²]"
              class="card-item__img"
            />
          </picture>
          <div class="card-item__rating">
            <svg>
              <use
                xlink:href="../../assets/images/icons/sprite.svg#full-star"
              ></use>
            </svg>
            <svg>
              <use
                xlink:href="../../assets/images/icons/sprite.svg#full-star"
              ></use>
            </svg>
            <svg>
              <use
                xlink:href="../../assets/images/icons/sprite.svg#full-star"
              ></use>
            </svg>
            <svg>
              <use
                xlink:href="../../assets/images/icons/sprite.svg#full-star"
              ></use>
            </svg>
            <svg>
              <use
                xlink:href="../../assets/images/icons/sprite.svg#full-star"
              ></use>
            </svg>
            <div class="card-item__rating-overlay" style="width: 20%"></div>
          </div>
          <h3 class="card-item__title">
            Кондиционер настенный (сплит-система) TCL TAC-07CHSA/TPG
            [вентиляция, обогрев,...
          </h3>
          <p class="card-item__price">40 000 ₽</p>
          <button data-cart="" type="button" class="button-primary open-popup">
            Купить
          </button>
        </div>
      </div> -->
      <!-- Конец слайда -->
    </div>
  </div>
  <div class="container">
    <div class="pagination-btns"></div>
  </div>
</section>
