<section id="air-conditioners" class="product-section">
  <div class="container">
    <h2 class="text-title">
      Подберем и установим надежную сплит-систему в своем сегменте
    </h2>
  </div>
  <div class="slider-wrapper container overflow-hidden">
    <button
      aria-label="Пролистнуть слайд назад"
      disabled
      class="slider-btn slider-btn-prev"
    >
      <div class="slider-btn-bar"></div>
      <div class="slider-btn-bar"></div></button
    ><button
      aria-label="Пролистнуть слайд вперед"
      disabled
      class="slider-btn slider-btn-next"
    >
      <div class="slider-btn-bar"></div>
      <div class="slider-btn-bar"></div>
    </button>
    <div class="slider-container"></div>
  </div>
  <div class="container">
    <div class="pagination-btns"></div>
  </div>
</section>
