<!DOCTYPE html>
<html lang="ru">
  <head>
    {{> head }}
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-KXMFCZN"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{> header }}
    <main>
      {{> hero}} {{> about}} {{> services}} {{> slider}} {{> faq}} {{>
      consultation}}
    </main>
    {{> footer }} {{> popup}} {{> thanks}}
    <script defer src="assets/js/main.min.js"></script>
    <script async src="assets/js/loadAnalitics.min.js"></script>
  </body>
</html>
